@model AllYouMedia.Models.UserPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ChangePassword" }))
{
    <div id="ChangePassword" class="col-md-12 profile-contain">
            <div class="col-xl-12 col-md-12 col-xs-12">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="page-content-title">Change Login Password</h4>
                            <div class="divider15"></div>
                            <div class="personal-info-box">
                                <div class="row">
                                    <div class="user-name-profile col-xl-4 col-md-4 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Old Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Enter Old Password" })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>                                  
                                    <div class="user-name-profile col-xl-4 col-md-4 col-xs-12">
                                        <div class="left-name-profile float-xs-left">New Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter New Password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation" })
                                        </div>
                                    </div>                                  
                                    <div class="user-name-profile col-xl-4 col-md-4 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Confirm Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Confirm Password" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-lg-spacing"></div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tab-pane active btn-margin pull-right" id="basic-buttons">
                                <button type="submit" class="btn btn-primary flat-buttons waves-effect waves-button">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>