@model AllYouMedia.Models.TreeViewNodeVM
@{
    ViewBag.Title = "Expandable Tree";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#00A9E0;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#00A9E0;
}
.tree li:hover {
    text-decoration: none;
    color:#000;
}
.tree li a:hover {
    text-decoration: none;
    color:#000;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#000;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
</style>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="content">
            <div class="col-md-12">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="page-content-title">Tree</h4>
                    <div class="divider10"></div>
                    <div id="">
                        <ul id="tree1">
                            <li>
                                <a class="Userdetail" data-target="@Model.LoginName" href="javascript:void(0);">@Model.LoginName</a>
                                @Html.Partial("_ChildNode", Model)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="dashboard-header content">
                        <h4 class="page-content-title float-xs-left">User Detail</h4>
                        <div class="dashboard-action">
                            <ul class="right-action float-xs-right">
                                <li data-widget="collapse">
                                    <a aria-hidden="true"
                                       href="javascript:void(0)">
                                        <span aria-hidden="true" class="icon_minus-06"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dashboard-box">
                            <div class="table-badges-section">
                                <div class="table-responsive">
                                    <div class="col-md-12">
                                        <table id="tblUserDetail" class="table table-striped table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        LEVEL NAME
                                                    </td>
                                                    <td>
                                                        <b>
                                                            FANATIC
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Login Name:
                                                    </td>
                                                    <td>
                                                        <b>
                                                            @Model.User_LoginName
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Recruiter:
                                                    </td>
                                                    <td>
                                                        <b style="color:#000; font-size:16px;">
                                                            @Model.SpID
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Recruiter Name:
                                                    </td>
                                                    <td>
                                                        <b style="color:#000; font-size:16px;">
                                                            @Model.SponsorName
                                                        </b>
                                                    </td>
                                                </tr>                                              
                                                <tr>
                                                    <td>
                                                        Total on Team:
                                                    </td>
                                                    <td>
                                                        <b>
                                                            385                                                          
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Gross Profits:
                                                    </td>
                                                    <td>
                                                        <b style="color:#000; font-size:16px;">
                                                            @Model.SelfInvestment
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Net Profit to You:
                                                    </td>
                                                    <td>
                                                        <b style="color:#000; font-size:16px;">
                                                           $223.47
                                                        </b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider-lg-spacing"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $(document).on("click", ".Userdetail", function (e) {           
            $.ajax({
                type: "GET",
                url: '/User/GeneologyTree',
                data: { LoginName: $(this).data('target') },
                dataType: 'html',
                success: function (data) {
                    $('#tblUserDetail').html($(data).find("#tblUserDetail"));
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
    });
</script>
<script>
    $.fn.extend({
        treed: function (o) {

            var openedClass = 'glyphicon-minus-sign';
            var closedClass = 'glyphicon-plus-sign';

            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            };

            //initialize each of the top levels
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this); 
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            //fire event to open branch if the li contains an anchor instead of text
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

    //Initialization of treeviews

    $('#tree1').treed();

    $('#tree2').treed({ openedClass: 'glyphicon-folder-open', closedClass: 'glyphicon-folder-close' });

    $('#tree3').treed({ openedClass: 'glyphicon-chevron-right', closedClass: 'glyphicon-chevron-down' });

</script>