@model AllYouMedia.Areas.Admin.Models.PasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 profile-contain">
  
        @using (Ajax.BeginForm("LoginPassword", "Admin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "LoginPassword" }))
        {
            <div id="LoginPassword" class="col-xl-6 col-md-6 col-xs-6">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="page-content-title">Change Login Paasword</h4>
                            <div class="dropdown-divider"></div>
                            <div class="divider15"></div>
                            <div class="personal-info-box">
                                <div class="row">
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Old Login Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Enter Old Login Password" })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">New Login Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter New Login Password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Confirm Login Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Confirm Login Password" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-lg-spacing"></div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tab-pane active btn-margin" id="basic-buttons">
                                <button type="submit" class="btn btn-primary flat-buttons waves-effect waves-button">Update Login Paasword</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @using (Ajax.BeginForm("ControlPassword", "Admin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ControlPassword" }))
            {
            <div id="ControlPassword" class="col-xl-6 col-md-6 col-xs-6">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="page-content-title">Change Control Paasword</h4>
                            <div class="dropdown-divider"></div>
                            <div class="divider15"></div>
                            <div class="personal-info-box">
                                <div class="row">
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Old Control Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Enter Old Control Password" })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">New Control Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter New Control Password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="user-name-profile col-xl-8 col-md-12 col-xs-12">
                                        <div class="left-name-profile float-xs-left">Confirm Control Password :</div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Confirm Control Password" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-lg-spacing"></div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tab-pane active btn-margin" id="basic-buttons">
                                <button type="submit" class="btn btn-primary flat-buttons waves-effect waves-button">Update Control Paasword</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>

